<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <!-- <meta name='viewport', content='width=device-width, initial-scale=1.0'> -->
  <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name='description', content='share&link'>
  <meta name='author', content='raodqi'>
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo-icon.png" media="screen">
  <title>cherry | 话说你的故事</title>
  <link rel="stylesheet" type="text/css" href="/css/frozen.css">
  <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1457374163_8478858.css">
  <script src="/js/frozen.min.js"></script>
</head>
